@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
// variables
$color1: #1df8b2;
$color2: #005899;
$color3: #2bdca4db;
$color4: #fff;
$color5: #000;
$color6: #333;
$color7: #0066ff;
$font1: cursive;
$font2: 'DynaPuff';
$size1: 50px;
$size2: 45px;
$size3: 35px;
$size4: 30px;
$size5: 25px;
$size6: 20px;
$ancho: 100%;
// css body
body{
    background-color: $color1;
    h2{
        background-color: $color2;
        text-align: center;
        color: $color1;
        font-size: $size2;
        padding: 10px;
        margin: 0;
    }
}
// css barra navegacion
.bgnav{
    background-color: $color2;
}
.nav-link{
    color: $color1 !important;
    text-shadow: 0 0 5px $color6;
    font-size: 20px;
    font-weight: 500;
}
h1::before{
    content: url(./img/logomarvarsnacks.png);
}
.navbar-brand{
    font-size: 20px;
    font-weight: bold;
    color: $color1 !important;
    text-shadow: 0 0 5px $color5;
}
.navbar-dark{
    background-color: $color2;
}
// jumbotron 
.jumbotron{
    background-image: url(./img/fondo.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: $color1;
    border-radius: 0;
    font-weight: bold;
    margin: 0;
    text-shadow: 0 0 10px $color5;
    h1{
        font-size: $size1;
    }
    p{
        font-size: $size6;
    }
}
// css botones
.btn-primary{
    background-color: $color2;
    margin: 2vh;
    color: $color1;
    .btn-primary:hover{
        background-color: $color7;
    }
}
// css aside izq
.al{
    background-image: url(./img/camionmarvar.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
    width: $ancho;
}
// css aside der 
.ar{
    color: $color2;
    font-weight: 600;
    h3{
        text-align: center;
        // color: $color2;
        // font-size: $size3;
        font-weight: bold;
    }
    p{
        // font-size: $size6;
        font-weight: bold;
    }
    p::selection{
        color: $color2;
        background-color: $color1;
    }
}
// card img
.card{
    background-color: $color1;
    // h4{
    //     // color: $color2;
    //     // font-weight: bold;
    //     // font-size: $size3;
    // }
    // p{
    //     // color: $color2;
    //     // font-weight: bold;
    //     // font-size: $size5;
    // }
}
img:hover{
    transform: scale(1.1);
    transition: all 0.8s;
}

// logos
.logos{
    // height: 70%;
    width: $ancho;
}

// aside left contactos.html
.alcon{
    width: $ancho;
    content: url(../assets/img/contacto.jpg);
    background-position: center;
    background-size: cover;
    padding: 0;
}
.arcon{
    text-align: center;
    color: $color2;
    font-weight: bold;
    font-size: $size5;
}
// form iniciar sesion
.form-is{
    padding: 20%;
}
.form-group{
    color: $color2;
    font-weight: bold;
    font-size: $size6;
}
.form-control{
    width: 120%;
}
// css footer 
footer{
    background-color: $color1;
    background-image: linear-gradient(225deg, #1df8b2 0%, #005899 46%, #1df8b2 100%);
    text-align: center;    
    color: $color1;
    font-size: $size3;
    font-family: $font2, $font1;
    padding: $size6;
}
// css redes
.redes{
    font-size: $size2;
    font-weight: bold;
    letter-spacing: 6px;
}
// media query
@media only screen and (min-widht:320px){
    body{
        grid-template-columns: 1fr;
    }
    .al{
        height: 70vh;
        width: $ancho;
    }
    .logos{
        height: 100%;
        width: $ancho;
    }
    form{ 
        padding: 10%;
    }
    .form-control{
        width: 110%;
    }
    footer{
        grid-template-columns: 1fr;
    }
}
@media only screen and (min-widht:992px){
    .al{
        height: 80vh;
        width: $ancho;
    }
    form{
        padding: 20%;
    }
    .form-control{
        width: 110%;
    }
    textarea{
        width: $ancho;
    }
}
// maps
$colores: (
    16px: red,
    20px: orange,
    25px: green,
    30px: purple,
    35px: blue

    );
    @each $size, $color in $colores {
        .text--#{$size} {
            text-align: center;
            font-size: $size;
            color: $color;
            font-weight: bold;
        }
    }
    //extends 
.alser{
    @extend .alcon;
    content: url(../assets/img/servicios.jpg);
    height: 120vh;
}
.arser{
    @extend .arcon;
}