@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
// variables
$color1: #1df8b2;
$color2: #005899;
$color3: #2bdca4db;
$color4: #fff;
$color5: #000;
$color6: #333;
$color7: #0066ff;
$font1: cursive;
$font2: 'DynaPuff';
$ancho: 100%;
// css body
body{
    background-color: $color1;
    h2{
        background-color: $color2;
        text-align: center;
        color: $color1;
        font-size: 45px;
        padding: 10px;
        margin: 0;
    }
}
// css barra navegacion
.bgnav{
    background-color: $color2;
}
.nav-link{
    color: $color1 !important;
    text-shadow: 0 0 5px $color6;
}
.navbar-brand::before{
    content: url(./img/logomarvarsnacks.png);
}
.navbar-brand{
    font-weight: bold;
    color: $color1 !important;
    text-shadow: 0 0 5px $color5;
}
// jumbotron 
.jumbotron{
    background-image: url(./img/fondo2.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: $color1;
    border-radius: 0;
    font-weight: bold;
    margin: 0;
    text-shadow: 0 0 10px $color5;
    h1{
        font-size: 50px;
    }
    p{
        font-size: 30px;
    }
}
// css botones
.btn-primary{
    background-color: $color2;
    margin: 2vh;
    color: $color1;
}
.btn-primary:hover{
    background-color: $color7;
}
// css aside izq
.al{
    background-image: url(./img/camionmarvar.png);
    background-size: cover;
    background-position: center;
    height: 120vh;
    width: $ancho;
}
// css aside der 
.ar{
    color: $color2;
    font-weight: 600;
    h3{
        text-align: center;
        color: $color2;
        font-size: 30px;
        font-weight: bold;
    }
    p{
        font-size: 20px;
        font-weight: bold;
    }
    p::selection{
        color: $color2;
        background-color: $color1;
    }
}
// hover img
.card{
    background-color: #1df8b2;
    h4{
        color: $color2;
        font-weight: bold;
        font-size: 35px;
    }
    p{
        color: $color2;
        font-weight: bold;
        font-size: 25px;
    }
}
.card:hover{
    transform: scale(1.1);
    transition: all 0.8s;
}
// .card-text{
//     color: $color2;
//     font-weight: bold;
// }
// aside left contactos.html
.alcon{
    width: $ancho;
    content: url(../assets/img/contacto.jpg);
    background-position: center;
    background-size: cover;
    padding: 0;
}
.arcon{
    text-align: center;
    color: $color2;
    font-weight: bold;
    font-size: 25px;
}
// form iniciar sesion
.form-group{
    color: $color2;
    font-weight: bold;
    font-size: 20px;
}
textarea{
    width: $ancho;
}
// css footer 
footer{
    background-color: $color1;
    background-image: linear-gradient(225deg, #1df8b2 0%, #005899 46%, #1df8b2 100%);
    text-align: center;    
    color: $color4;
    font-family: $font2, $font1;
    padding: 20px;
}
// css redes
.redes{
    font-size: 30px;
    letter-spacing: 6px;
}
// Media query
@media only screen and (min-widht:320px){
    body{
        grid-template-columns: 1fr;
    }
    .al{
        width: $ancho;
        height: 50vh;
    }
    footer{
        grid-template-columns: 1fr;
    }
}