@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1df8b2;
}
body h2 {
  background-color: #005899;
  text-align: center;
  color: #1df8b2;
  font-size: 45px;
  padding: 10px;
  margin: 0;
}

.bgnav {
  background-color: #005899;
}

.nav-link {
  color: #1df8b2 !important;
  text-shadow: 0 0 5px #333;
  font-size: 20px;
  font-weight: 500;
}

h1::before {
  content: url(./img/logomarvarsnacks.png);
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
  color: #1df8b2 !important;
  text-shadow: 0 0 5px #000;
}

.navbar-dark {
  background-color: #005899;
}

.jumbotron {
  background-image: url(./img/fondo.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  color: #1df8b2;
  border-radius: 0;
  font-weight: bold;
  margin: 0;
  text-shadow: 0 0 10px #000;
}
.jumbotron h1 {
  font-size: 50px;
}
.jumbotron p {
  font-size: 20px;
}

.btn-primary {
  background-color: #005899;
  margin: 2vh;
  color: #1df8b2;
}
.btn-primary .btn-primary:hover {
  background-color: #0066ff;
}

.al {
  background-image: url(./img/camionmarvar.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 120vh;
  width: 100%;
}

.ar {
  color: #005899;
  font-weight: 600;
}
.ar h3 {
  text-align: center;
  font-weight: bold;
}
.ar p {
  font-weight: bold;
}
.ar p::-moz-selection {
  color: #005899;
  background-color: #1df8b2;
}
.ar p::selection {
  color: #005899;
  background-color: #1df8b2;
}

.card {
  background-color: #1df8b2;
}

img:hover {
  transform: scale(1.1);
  transition: all 0.8s;
}

.logos {
  width: 100%;
}

.alcon, .alser {
  width: 100%;
  content: url(../assets/img/contacto.jpg);
  background-position: center;
  background-size: cover;
  padding: 0;
}

.arcon, .arser {
  text-align: center;
  color: #005899;
  font-weight: bold;
  font-size: 25px;
}

.form-is {
  padding: 20%;
}

.form-group {
  color: #005899;
  font-weight: bold;
  font-size: 20px;
}

.form-control {
  width: 120%;
}

footer {
  background-color: #1df8b2;
  background-image: linear-gradient(225deg, #1df8b2 0%, #005899 46%, #1df8b2 100%);
  text-align: center;
  color: #1df8b2;
  font-size: 35px;
  font-family: "DynaPuff", cursive;
  padding: 20px;
}

.redes {
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 6px;
}

@media only screen and (min-widht: 320px) {
  body {
    grid-template-columns: 1fr;
  }
  .al {
    height: 70vh;
    width: 100%;
  }
  .logos {
    height: 100%;
    width: 100%;
  }
  form {
    padding: 10%;
  }
  .form-control {
    width: 110%;
  }
  footer {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-widht: 992px) {
  .al {
    height: 80vh;
    width: 100%;
  }
  form {
    padding: 20%;
  }
  .form-control {
    width: 110%;
  }
  textarea {
    width: 100%;
  }
}
.text--16px {
  text-align: center;
  font-size: 16px;
  color: red;
  font-weight: bold;
}

.text--20px {
  text-align: center;
  font-size: 20px;
  color: orange;
  font-weight: bold;
}

.text--25px {
  text-align: center;
  font-size: 25px;
  color: green;
  font-weight: bold;
}

.text--30px {
  text-align: center;
  font-size: 30px;
  color: purple;
  font-weight: bold;
}

.text--35px {
  text-align: center;
  font-size: 35px;
  color: blue;
  font-weight: bold;
}

.alser {
  content: url(../assets/img/servicios.jpg);
  height: 120vh;
}/*# sourceMappingURL=style.css.map */