@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Baloo+Bhaijaan+2:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
// variables
$color1: #1df8b2;
$color2: #005899;
$color3: #2bdca4db;
$color4: #fff;
$color5: #000;
$color6: #333;
$color7: #0066ff;
$font1: cursive;
$font2: 'DynaPuff';
$size1: 50px;
$size2: 45px;
$size3: 35px;
$size4: 30px;
$size5: 25px;
$size6: 20px;
$ancho: 100%;
// css body
body{
    background-color: $color1;
    h2{
        background-color: $color2;
        text-align: center;
        color: $color1;
        font-size: $size2;
        font-family: 'Amaranth', sans-serif;
        padding: 10px;
        margin: 0;
    }
}
// css barra navegacion
.bgnav{
    background-color: $color2;
}
.nav-link{
    color: $color1 !important;
    text-shadow: 0 0 5px $color6;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Amaranth', sans-serif;
}

h1::before{
    content: url(./img/logomarvarsnacks.png);
}
.navbar-brand{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Amaranth', sans-serif;
    color: $color1 !important;
    text-shadow: 0 0 5px $color5;
}
.navbar-dark{
    background-color: $color2;
}
// jumbotron 
.jumbotron{
    background-image: url(./img/fondo.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: $color1;
    border-radius: 0;
    font-weight: bold;
    margin: 0;
    text-shadow: 0 0 10px $color5;
    h1{
        font-size: $size1;
        font-family: 'Amaranth', sans-serif;
    }
    p{
        font-size: $size3;
        font-family: 'Amaranth', sans-serif;
    }
}
// css botones
.btn-primary{
    background-color: $color2;
    margin: 1vh;
    color: $color1;
    font-size: $size6;
    font-family: 'Amaranth', sans-serif;
    .btn-primary:hover{
        background-color: $color7;
    }
}
// css aside izq
.al{
    padding: 0%;
    content: url(../assets/img/camionmarvar.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: $ancho;
    height: 100%;
}
// css aside der 
.ar{
    color: $color2;
    h3{
        text-align: center;
        color: $color2;
        font-size: $size3;
        font-weight: bold;
        font-family: 'Amaranth', sans-serif;
    }
    p{
        font-size: $size6;
        font-weight: bold;
        text-align: center;
        font-family: 'Amaranth', sans-serif;
    }
    p::selection{
        color: $color2;
        background-color: $color4;
    }
}
// card img
.card{
    background-color: $color1;
    padding: 0%;
    text-align: center;
    h4{
        color: $color2;
        font-weight: 700;
        font-size: $size3;
        text-align: center;
        font-family: 'Amaranth', sans-serif;
    }
    p{
        color: $color2;
        font-weight: 500;
        font-size: $size4;
        text-align: center;
        font-family: 'Amaranth', sans-serif;
    }
    .krach{
        margin: 10px;
        // height: auto;
        width: 43vh;
        display: flex;
        align-self: center;
    }
    .natura{
        height: 40vh;
        width: auto;
        display: flex;
        align-self: center;
    }
    img:hover{
        transform: scale(1.1);
        transition: all 0.8s;
    }
    .logos{
        height: 58vh;
        width: $ancho;
    }
}

// aside left contactos.html
.alcon{
    padding: 0%;
    content: url(../assets/img/contacto.jpg);
    width: $ancho;
    background-position: center;
    background-size: cover;
}
.arcon{
    color: $color2;
    font-weight: bold;
    font-size: $size4;
    h3{
        text-align: center;
        font-family: 'Amaranth', sans-serif;
        font-weight: bold;
        font-size: $size3;
    }
    p{
        text-align: center;
        font-family: 'Amaranth', sans-serif;
        font-size: $size4;
    }
}
.form-contacto{
    margin: 50px;
    font-size: $size6;
    .form-control{
        width: 100%;
        color: $color2;
    }
    textarea{
        width: $ancho;
    }
}

.map{
    width: $ancho;
    height: 50vh;
    margin: 0%;
}
    //extends 
.alser{
    padding: 0%;
    content: url(./img/servicios.jpg);
        width: $ancho;
        background-position: center;
        background-size: cover;
    }
.arser{
    @extend .arcon;
    }
// form iniciar sesion
.form-is{
    padding: 10%;
}
.form-group{
    color: $color2;
    font-weight: bold;
    font-family: 'Amaranth', sans-serif;
    font-size: $size4;
}
.form-control{
    width: 80%;
}
// css footer 
footer{
    background-color: $color1;
    background-image: linear-gradient(225deg, #1df8b2 0%, #005899 46%, #1df8b2 100%);
    text-align: center;    
    color: $color1;
    font-size: $size3;
    font-family: 'Amaranth', sans-serif;
    padding: $size6;
    // margin: -0.5%;
}
// css redes
.redes{
    font-size: $size2;
    font-weight: bold;
    letter-spacing: 6px;
    a{
        color: #1df8b2;
    }
    a:hover{
        color: #0008ff;
    }
}

// // maps
// $colores: (
//     16px: red,
//     20px: orange,
//     25px: green,
//     30px: purple,
//     35px: blue

//     );
//     @each $size, $color in $colores {
//         .text--#{$size} {
//             text-align: center;
//             font-size: $size;
//             color: $color;
//             font-weight: bold;
//         }
//     }
